TELEGRAM_BOT_TOKEN=bot8253352811:AAEI2z2pOIiiweTNxMcJYGEGKejO_Ih7Yes
ADMIN_IDS=7894840999             # comma-separated numeric Telegram user IDs (get via @userinfobot)
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.mongodb.net/AutoYHack?retryWrites=true&w=majority
DEFAULT_UPI=9288367268@naviaxis
SCHEDULER_TYPE=apscheduler
ENCRYPTION_KEY=change_this_to_a_random_32_byte_base64  # for encrypting uploaded client_secrets.json / tokens
LOG_LEVEL=INFO
